/* -----------------> [GENRAL CLASSES] */

.title-big {
    font-size: 2.0198rem;
    line-height: 2.14604rem;
}

.title-text {
    font-size: 1.17822rem;
    line-height: normal;
    text-align: center;
    color: #1F2C5C;
    font-weight: bold;
}

.text-genral {
    font-size: 1.09406rem;
    line-height: 1.55693rem;
    color: #1F2C5C;
    font-weight: bold;
    text-align: center;
}

.line-blue {
    height: 2px;
    width: 100%;
    border: none;
    background-color: #1F2C5C;
    max-width: 40.901rem;
    margin-left: auto;
    margin-right: auto;
}


/* ----------  [AGENCY HEADER] */

.agency-header-bar {
    background-color: #49B9C2;
    height: 3.11386rem;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agency-header-content {
    background: #BEEDE8;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    padding-top: 1.34653rem;
    padding-left: 0.84158rem;
    padding-right: 0.84158rem;
}

.agency-header-img {
    max-width: 42.75249rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.agency-header-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom;
    object-position: bottom;
}

.agency-header-mobile {
    display: none !important;
}

.agency-header-text {
    max-width: 30.84407rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1.34653rem;
}


/* -----------------> [REGISTER BUTTON] */

.register-here {
    max-width: 26.63615rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.80941rem;
    height: 132px;
}

.register-here a,
.register-here img {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}


/* -----------------> [THIRD SECTION] */

.about-reward {
    text-align: center;
    padding: 2.52475rem;
    margin-top: 2.10396rem;
    background-color: #E6E6E6;
    position: relative;
}

.about-reward::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.19802rem;
    height: 3.19802rem;
    display: block;
    background-color: #BEEDE8;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    pointer-events: none;
}

.about-reward h1 {
    border-bottom: 0.50495rem solid #BEEDE8;
    display: inline-block;
    padding: 0 1.26238rem;
    margin-bottom: 1.68317rem;
}

.about-reward .title-text {
    max-width: 29.20298rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.26238rem;
}

.about-reward-img {
    max-width: 38.83912rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.68317rem;
    margin-bottom: 1.68317rem;
}

.about-reward-img img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.about-reward-img .ph {
    display: none;
}


/* -----------------> [FOURTH SECTION] */

.register-flow {
    padding: 2.73515rem;
    text-align: center;
    background-color: #FFFDE1;
    position: relative;
}

.register-flow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.19802rem;
    height: 3.19802rem;
    display: block;
    background-color: #FFE33F;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    pointer-events: none;
}

.register-flow h1 {
    border-bottom: 0.50495rem solid #FFE33F;
    display: inline-block;
    padding: 0 1.26238rem;
    margin-bottom: 2.94555rem;
}

.register-flow__container {
    max-width: 33.66337rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.register-flow__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: max-content 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    -webkit-column-gap: 1.68317rem;
    column-gap: 1.68317rem;
}

.register-flow__box:not(:last-child) {
    margin-bottom: 1.05198rem;
}

.register-flow__title {
    display: flex;
    align-items: center;
    gap: 0.75743rem;
    margin-bottom: 1.26238rem;
}

.register-flow__title img {
    width: 3.36634rem;
    height: 3.36634rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.register-flow__title h2 {
    font-size: 2.27228rem;
    font-weight: bold;
    color: #1F2C5C;
    line-height: 3.4505rem;
}

.register-flow__image {
    grid-row: 1/-1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    max-width: 15.56931rem;
    width: 100%;
    height: auto;
}

.register-flow__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.register-flow__text {
    max-width: 16.07426rem;
    width: 100%;
}

.register-flow__text p {
    font-size: 0.92574rem;
    line-height: 1.68317rem;
    color: #4D4D4D;
    font-weight: 500;
}


/* [EASY REGISTER]
  --------------------------*/

.easyregister {
    padding-top: 3.91337rem;
    padding-bottom: 2.18812rem;
    text-align: center;
    padding-left: 3.15594rem;
    padding-right: 3.15594rem;
}

.easyregister__wrap {
    max-width: 39.13367rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.easyregister .ph {
    display: none;
}

.easyregister h3 {
    font-size: 1.34653rem;
    line-height: 1.97772rem;
    color: #1F2C5C;
    text-align: center;
    margin-bottom: 1.0099rem;
}

.easyregister__image {
    margin-top: 2.52475rem;
    max-width: 37.4505rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.easyregister__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}


/* [RESPONSIVE HEADER  (MAX-WIDTH: 768PX)] */

@media (max-width: 768px) {
    .text-genral {
        font-size: 1.64109rem;
        line-height: 2.60891rem;
    }
    .agency-header-bar {
        height: 3.82921rem;
    }
    .agency-header-bar h1 {
        font-size: 1.85149rem;
        line-height: 1.89356rem;
    }
    .agency-header-pc {
        display: none !important;
    }
    .agency-header-mobile {
        display: block !important;
    }
    .agency-header-text p {
        padding-left: 30px;
        padding-right: 30px;
    }
    /* -----------------> [REGISTER BUTTON] */
    .register-here {
        display: none;
    }
    .about-reward {
        padding: 2.10396rem 1.68317rem;
    }
    .about-reward-img .ph {
        display: block;
    }
    .about-reward-img .pc {
        display: none;
    }
    /* [FOURTH SECTION]
      --------------------------*/
    .register-flow__box {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        max-width: 17.0rem;
        width: 100%;
        gap: 1.51485rem;
        margin-left: auto;
        margin-right: auto;
    }
    .register-flow__box>* {
        grid-column: auto;
        grid-row: auto;
    }
    .register-flow__title {
        margin-bottom: 0;
    }
    /* [EASY REGISTER]
      --------------------------*/
    .easyregister .ph {
        display: block;
    }
    .easyregister .pc {
        display: none;
    }
}


/*# sourceMappingURL=theme.css.map */