option_settings:
   – namespace: was:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: aapdjtpjjghzgz.coxlyxl4dac6.us-east-1.rds.amazonaws.com
   – option_name: DB_PORT
     value: 3306
   – option_name: DB_NAME
     value: ebdb
   – option_name: DB_USER
     value: gnmg
   – option_name: DB_PASS
     value: Igrcnmt2