$color-main: #1F2C5C;
$color-accent: #50CCC8;
$color-text: #4D4D4D;
$layout-width-inner: 1100px;


//ブレークポイント
$breakpoints: (
    "sp": "(max-width: 1000px)",
    "tab2": "(min-width: 1001px) and (max-width: 1250px)",
    "tab": "(min-width: 1251px) and (max-width: 1400px)",
    // "pc": "(min-width: 768px) and (max-width: #{$layout-width-inner})",
    "pc": "(min-width: #{$layout-width-inner})",
) !default;

//メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height : 1.5;

    @include mq('sp') {
        font-size: 3.4vw;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: "源柔ゴシック", "GenJyuuGothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    line-height: 1.6;
    background: #fff;
}

.overflow {
    @include mq('sp') {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: 1.375rem;
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------------------------------
共通クラス一覧
----------------------------------------------------------------------------------*/
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('sp') {
        
    }
}

.btn {
    a {

    }
}

.title {
    color: $color-main;
    font-weight: bold;
    border-bottom: 12px solid #BEEDE8;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;

    @include mq('sp') {
        width: 100%;
        font-size: 1.5rem;
    }
}


/*----------------------------------------------------------------------------------
header
----------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 100;
    background: #fff;
    line-height: 110px;

    @include mq('sp') {
        position: static;
    }
}

.header__inner {
    width: 90%;
    margin: 0 auto;
    height: inherit;
}

.header__contents {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__logo {
    width: 200px;
    align-items: center;

    img {
        display: block;
    }

    @include mq('tab') {
        width: 180px;
    }

    @include mq('tab2') {
        width: 150px;
    }

    @include mq('sp') {
        width: 220px;
    }
}

.header__nav {
    display: flex;
    margin-left: auto;

    @include mq('sp') {
        display: none;
    }
}

.header__list {
    margin-right: 20px;
    align-items: center;

    a {
        display: inline-block;
        font-size: 1.375rem;
        font-weight: bold;
        color: $color-main;

        @include mq('tab') {
            font-size: 1.2rem;
        }

        @include mq('tab2') {
            font-size: 1rem;
        }
    }

    @include mq('tab') {
        margin-right: 15px;
    }

    @include mq('tab2') {
        margin-right: 10px;
    }

    // .fa-caret-right {
    //     color: $color-main;
    //     margin-right: 5px;
    // }
}


.header__btn {
    align-items: center;


    .btn {
        color: #fff;
        font-weight: bold;
        padding: 15px 15px;
        border-radius: 10px;
        background: $color-main;
        font-size: 1.375rem;

        @include mq('tab') {
            font-size: 1.2rem;
        }

        @include mq('tab2') {
            font-size: 1rem;
        }

        @include mq('sp') {
            display: none;
        }
    }
}

/*---------------------------------------------------------------
bars-items
----------------------------------------------------------------*/
.bars-items {
    display: none;
    z-index: 400;

    @include mq('sp') {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        background: $color-main;
        width: 90px;
        height: 90px;

        &:hover {
            cursor: pointer;
        }
    }
}

.is-fixed {
    position: fixed;
    top: 0;
    right: 0;
}

.bars {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-1,
.bar-2,
.bar-3 {
    position: absolute;
    width: 50px;
    height: 1px;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
}

.bar-1 {
    top: 0px;
    transition: 1s;
    transform: rotate(0deg);
}

.is-active-1 {
    transition: 1s;
    transform: rotate(45deg);
    top: 20px;
}

.bar-2 {
    top: 20px;
    transition: 1s;
}

.is-active-2 {
    display: none;
}

.bar-3 {
    top: 40px;
    transition: 1s;
    transform: rotate(0deg);
}

.is-active-3 {
    transition: 1s;
    transform: rotate(-45deg);
    top: 20px;
}

/*----------------------------------------------------------------------------------
drawer
----------------------------------------------------------------------------------*/
.drawer {
    display: none;

    @include mq('sp') {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 300;
        background: #fff;
    }
}

.drawer__none {
    @include mq('sp') {
        display: block;
    }
    
}

.drawer__none2 {
    @include mq('sp') {
        display: none;
    }
    
}

.drawer__logo {

    @include mq('sp') {
        width: 220px;
        margin: 0 auto;
        padding: 20px 0;
    }
    

    a {
        display: inline-block;
    }

    img {
        display: block;
    }
}

.drawer__contents {
    @include mq('sp') {
        background: $color-main;
        color: #fff;
        width: 100%;
        height: 100vh;
        padding: 30px 0;
    }
    
}

.drawer__inner {
    @include mq('sp') {
        width: 70%;
        margin: 0 auto;
    }
    
}

.drawer__nav {
    @include mq('sp') {
        width: 100%;
        margin-right: 20px;
    }
    
}

.drawer__lists {
    @include mq('sp') {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
}

.drawer__list {
    @include mq('sp') {
        margin-bottom: 10px;

        a {
            display: inline-block;
            font-size: 1.7rem;
            font-weight: bold;
            height: 50px;
        }
    
        i {
            margin-right: 5px;
            font-size: 1.8rem;
            align-items: center;
        }
    }
    
}

.drawer__right {

}

.drawer__terms {

}

.drawer__term {
    @include mq('sp') {
        position: relative;
        margin-top: 10px;
    
        a {
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 25px;
            
            &::before {
                content: "";
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                top: 11px;
                margin-left: 18px;
                background: #fff;
                border-radius: 50%;
                left: -20px;
            }
        }
    }
    
}




/*----------------------------------------------------------------------------------
main
----------------------------------------------------------------------------------*/
.main {
    padding-top: 110px;

    @include mq('sp') {
        padding-top: 0;
    }
}

.main__visual {
    background: #BEEDE8;
}

.main__inner {
    @include mq('sp') {
        width: 90%;
        margin: 0 auto;
    }
}

.main__contents {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 10px;

    @include mq('sp') {
        display: block;
    }
}

.main__left {
    width: 55%;

    img {
        display: block;
        width: 100%;
    }

    @include mq('sp') {
        width: 100%;
    }
}

.main__right {
    width: 43%;

    img {
        display: block;
        width: 100%;    
        margin-top: 50px;    
    }

    @include mq('sp') {
        width: 100%;
    }
}

.main__titles {
    text-align: center;
    padding: 50px 0 30px;

    @include mq('sp') {
        width: 80%;
        margin: 0 auto;
    }
}

.main__title {
    color: $color-main;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin: 0 auto;

    @include mq('sp') {
        width: 100%;
        font-size: 1.5rem;
    }
}

.main__text {
    font-weight: Medium;
    color: $color-text;
    text-align: center;
    width: 60%;
    margin: 30px auto 0;

    @include mq('sp') {
        width: 100%;
        font-size: 1rem;
    }
}

/*----------------------------------------------------------------------------------
try-button
----------------------------------------------------------------------------------*/
.try-button {
    text-align: center;
    padding: 30px 0 80px;
    

    a {
        display: inline-block;

        img {
            display: block;
        }
    }

    @include mq('sp') {
        display: none;
    }
}

/*----------------------------------------------------------------------------------
functions
----------------------------------------------------------------------------------*/
.functions {
    position: relative;
    background: #CDCDCD;
    padding: 50px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 60px solid #FFE33F;
        border-right: 60px solid transparent;
        opacity: 0.5;
    }

    @include mq('sp') {
        padding: 40px 0;
    }
}

.functions__inner {

}

.functions__title {
    @include mq('sp') {
        display: none;
    }
}

.functions__title2 {
    display: none;

    @include mq('sp') {
        display: block;
        width: 90%;
    }
}

.functions__items {
    padding: 0 80px;

    @include mq('sp') {
        padding: 0 30px;
    }
}

.functions__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    margin-top: 50px;

    @include mq('sp') {
        display: block;
        margin-top: 70px;
    }
}

.functions__left {
    width: 60%;

    @include mq('sp') {
        width: 85%;
        margin: 0 auto;
    }
}   

.functions__left-text {
    color: $color-main;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1.5;
    

    @include mq('sp') {
        font-size: 1.3rem;
        text-align: justify;
    }
}

.functions__left-excerpt {
    margin-top: 20px;
    font-weight: Medium;
    color: $color-text;

    @include mq('sp') {
        font-size: 1rem;
        margin-top: 5px;
    }
}

.functions__image {
    
    img {
        display: block;


        @include mq('sp') {
            margin: 50px auto 0;
            width: 75%;
        }
    }

    
}

.functions__number {
    position: absolute;
    z-index: -1;
    top: -20px;
    
    

    img {
        display: block;

        @include mq('sp') {
            width: 70%;
        }
    }

    @include mq('sp') {
        top: -30px;
        left: 30px;
    }
}

/*----------------------------------------------------------------------------------
merit
----------------------------------------------------------------------------------*/
.merit {
    padding: 50px 0;

    @include mq('sp') {
        padding: 40px 0;
    }
}

.merit__inner {

}

.merit__title {
    @include mq('sp') {
        width: 60%;
    }
}

.merit__items {
    padding: 0 30px;
}

.merit__item {
    display: flex;
    margin-top: 50px;

    @include mq('sp') {
        display: block;
        
        &:not(:last-child) {
            margin-top: 50px
        }
    }
}

.merit__item-left {
    
    img {
        display: block;

        @include mq('sp') {
            margin: 0 auto 30px;
        }
    }

}

.merit__item-right {
    width: 64%;
    margin-left: auto;

    @include mq('sp') {
        width: 100%;
    }
}

.merit__item-image {
    margin-bottom: 30px;

    img {
        display: block;

        @include mq('sp') {
            text-align: center;
            margin: 0 auto;
        }
    }

    @include mq('sp') {
        text-align: center;
        width: 100%;
    }
}

.merit__item-excerpts {
    display: flex;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.merit__item-checkbox {
    width: 50px;
    margin-right: 10px;

    @include mq('sp') {
        width: 40px;
        margin-right: 5px;
    }

    img {
        display: block;
        width: 50px;
        height: 50px;  

        @include mq('sp') {
            width: 40px;
            height: 40px;
        }
    }
}

.merit__item-excerpt {
    width: calc(100% - 40px - 10px);
    font-size: 2rem;
    color: $color-main;
    font-weight: bold;
    line-height: 1.5;

    @include mq('sp') {
        font-size: 1.3rem;
        margin-top: 5px;

        br {
            display: none;
          }
    }
}

/*----------------------------------------------------------------------------------
price
----------------------------------------------------------------------------------*/
.price {
    background: #fafcce;
    position: relative;
    padding: 50px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 60px solid #FFE33F;
        border-right: 60px solid transparent;
        opacity: 0.5;
    }

    @include mq('sp') {
        padding: 40px 0;
    }
}

.price__inner {
    @include mq('sp') {
        width: 90%;
    }
}

.price__title {
    color: $color-main;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 12px solid #FFE33F;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @include mq('sp') {
        width: 60%;
        font-size: 1.5rem;
    }
}

.price__contents {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @include mq('sp') {
        display: block;
        width: 90%;
        margin: 50px auto 0;
    }
}

.price__left {
    width: 55%;
    display: flex;

    @include mq('sp') {
        width: 100%;
    }
}

.price__left-left {
    width: 25%;
    color: #fff;
    background: $color-text;
    padding: 40px 10px;
    text-align: center;
    border-radius: 30px 0 0 30px;
    font-weight: bold;
    font-size: 2.875rem;

    @include mq('sp') {
        width: 35%;
        font-size: 2.3rem;
        padding: 30px 10px;
        align-items: center;
    }
}

.price__left-prices {
    width: calc(100% - 25%);
    background: #fff;
    border-radius: 0 30px 30px 0;
    color: $color-text;
    justify-content: center;

    @include mq('sp') {
        width: calc(100% - 35%);
    }
}

.price__left-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    padding: 10px 0;

    @include mq('sp') {
        width: 90%;
        padding: 10px;
    }
}

.price__left-price {
    font-size: 5.375rem;
    font-weight: bold;

    @include mq('sp') {
        font-size: 3.5rem;
    }
}

.price__left-pricetax {
    text-align: center;
}

.price__left-tax {
    font-weight: bold;
    font-size: 1.3125rem;

    @include mq('sp') {
        font-size: 1rem;
    }
}

.price__left-en {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;

    @include mq('sp') {
        font-size: 2rem;
    }
}

.price__right {
    width: 43%;

    @include mq('sp') {
        width: 100%;
    }
}

.price__right-tags {    
    display: flex;
    justify-content: space-between;

    @include mq('sp') {
        margin-top: 40px;
    }
}

.price__tag-left {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    background: $color-text;
    padding: 5px 20px;

    @include mq('sp') {
        padding: 5px 15px;
        font-size: 1.5rem;
    }
}

.price__tag-right {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    background: $color-text;
    padding: 5px 50px;
    letter-spacing: 5px;

    @include mq('sp') {
        padding: 5px 10px;
        letter-spacing: 3px;
    }
}

.price__right-excerpt {
    font-weight: bold;
    color: $color-text;
    margin-top: 10px;
    text-align: justify;

    @include mq('sp') {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

.price__service {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0 30px;

    @include mq('sp') {
        margin: 30px 0 10px;
    }
}

.price__underbar {
    width: 60px;
    height: 60px;
    background: #F15A24;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;

    img {
        display: block;
    }

    @include mq('sp') {
        width: 40px;
        height: 40px;
    }
}

.price__underbar-title {
    font-size: 2.31rem;
    font-weight: bold;
    color: #F15A24;

    @include mq('sp') {
        font-size: 1.3rem;
        line-height: 1.5;
    }
}

.price-button {
    text-align: center;
    a {
        display: inline-block;

        img {
            display: block;
            width: 700px;
        }
    }

    @include mq('sp') {
        width: 100%;
        margin: 0 0 0 10px;
    }
}

/*----------------------------------------------------------------------------------
flow
----------------------------------------------------------------------------------*/
.flow {
    background: #CDCDCD;
    padding: 50px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 60px solid $color-accent;
        border-right: 60px solid transparent;
        opacity: 0.5;
    }

    @include mq('sp') {
        padding: 40px 0;
    }
}

.flow__inner {
    @include mq('sp') {
        width: 90%;
    }
}

.flow__title {
    @include mq('sp') {
        width: 60%;
        font-size: 1.5rem;
    }
}

.flow__contents {
    margin-top: 50px;

    @include mq('sp') {
        margin-top: 40px;
        width: 90%;
        margin: 40px auto 0;
    }
}

.flow__item {

    &:last-child {
        margin: 35px 0;
    }
}

.flow__item-title {
    background: $color-main;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 1.75rem;

    @include mq('sp') {
        border-radius: 30px;
        font-size: 1.3rem;
    }
}

.second {
    background: #FFE33F;
    color: $color-text;
    font-weight: bold;
}

.flow__item-flow {
    display: flex;
    justify-content: space-between;

    @include mq('sp') {
        flex-wrap: wrap;
        margin-top: 20px;

    }

}

.flow__item-image {
    width: 23%;
    margin: 20px 0;

    @include mq('sp') {
        width: 47%;
        height: 100%;
        margin: 5px 0;
    }

    img {
        display: block;
        width: 100%;

        @include mq('sp') {

        }
    }

    p {
        text-align: center;
        font-size: 1.25rem;
        color: $color-main;
        font-weight: bold;
        margin-top: 10px;

        @include mq('sp') {
            font-size: 1.1rem;
        }
    }
}

/*----------------------------------------------------------------------------------
remind
----------------------------------------------------------------------------------*/
.remind {
    padding: 50px 0;

    @include mq('sp') {
        padding: 40px 0;
    }
}

.remind__inner {
    @include mq('sp') {
        width: 90%;
    }
}

.remind__title {
    color: $color-main;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;

    br {
        display: none;
    }

    @include mq('sp') {
        font-size: 1.6rem;
        line-height: 1.5;

        br {
            display: block;
        }
    }
}

.remind__contents {
    
}

.remind__images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.remind__image-left {
    margin-right: 15px;
    img {
        display: block;
    }
}

.remind__image-right {
    img {
        display: block;
    }
}

.remind__excerpts {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-weight: Medium;
    font-size: 1.2rem;
}

.remind__excerpt {
    margin-top: 30px; 

    @include mq('sp') {
        font-size: 1rem;
    }
}

/*----------------------------------------------------------------------------------
question
----------------------------------------------------------------------------------*/
.question {
    background: #d9ffdf;
    position: relative;
    padding: 50px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 60px solid $color-main;
        border-right: 60px solid transparent;
    }

    @include mq('sp') {
        padding: 40px 0;
    }
}

.question__inner {
    
    @include mq('sp') {
        
    }
}

.question__title {
    @include mq('sp') {
        width: 60%;
    }
}

.question__items {
    margin-top: 50px;
}

.question__item {
    margin: 20px 0;
}

.question__item-question {
    display: flex;
    color: $color-main;
    align-items: center;
    padding-bottom: 15px;

    @include mq('sp') {
        align-items: normal;
        width: 90%;
        margin: 0 auto;
    }
}

.question__number {
    font-size: 2.25rem;
    font-weight: bold;
    width: 60px;

    @include mq('sp') {
        font-size: 1.1rem;
        width: 50px;
    }
}

.question__content {
    width: calc(100% - 50px - 20px);
    font-size: 1.625rem;
    font-weight: bold;
    position: relative;

    @include mq('sp') {
        font-size: 1.1rem;
        width: calc(100% - 50px - 30px);
        align-items: center;
    }

    &::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 0;
        border-bottom: solid 3px #fff;
        border-right: solid 3px #fff;
        position: absolute;
        top: 20px;
        right: 10px;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);

        @include mq('sp') {
            right: -19px;
            top: 13px;
        }

        // top: 25px;
        // right: 10px;
        // transition: transform 0.3s;
        // margin-top: -6px;
        // transform: rotate(225deg);
    }

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: #333;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 0;
        margin-top: -15px;

        @include mq('sp') {
            width: 25px;
            height: 25px;
            right: -27px;
            top: 17px;
        }
    }
}

.question__content2 {
    width: calc(100% - 50px - 20px);
    font-size: 1.625rem;
    font-weight: bold;
    position: relative;

    @include mq('sp') {
        font-size: 1.1rem;
        width: calc(100% - 50px - 30px);
        align-items: center;
    }

    &::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 3px #fff;
        border-left: solid 3px #fff;
        position: absolute;
        top: 22px;
        right: 10px;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);

        @include mq('sp') {
            right: -19px;
            top: 17px;
        }
    }

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: #333;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 0;
        margin-top: -15px;

        @include mq('sp') {
            width: 25px;
            height: 25px;
            right: -27px;
            top: 17px;
        }
    }
}

.question__item-answer {
    background: #fff;
    color: #F15A24;
    font-weight: bold;
    font-size: 1.625rem;
    margin: 0px calc(50% - 50vw) 0;
	width: 99.4vw;
    padding: 20px 260px;
    text-align: left;
    display: none;

    @include mq('sp') {
	    width: 100%;
        margin: 0;
        font-size: 1.1rem;
        padding: 10px 80px;
    }
}

.question__none {
    display: block;
}

/*----------------------------------------------------------------------------------
footer
----------------------------------------------------------------------------------*/
.footer {
    background: $color-main;
    padding-bottom: 100px;
    position: relative;

    @include mq('sp') {
        padding-bottom: 200px;
    }

    .try-button {
        display: none;
        
        @include mq('sp') {
            display: block;
            position: fixed;
            z-index: 100;
            bottom: 0;
            padding: 0;
            width: 100%;
            margin: 0 0 0 10px;
        }

        img {
            @include mq('sp') {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

.footer__inner {
    @include mq('sp') {
        width: 80%;
        margin: 0 auto;
    }
}

.footer__contents {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    @include mq('sp') {
        display: block;
        padding: 50px 0;
    }
}

.footer__logo {
    width: 35%;

    @include mq('sp') {
        width: 100%;
        display: none;
    }
}

.footer__nav {
    width: 40%;
    margin-right: 20px;

    @include mq('sp') {
        width: 100%;
    }
}

.footer__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__list {
    width: 48%;
    margin-bottom: 10px;

    a {
        display: inline-block;
        font-size: 20px;

        @include mq('sp') {
            font-size: 1.375rem;
            font-weight: bold;
        }
    }

    i {
        margin-right: 5px;
    }
}

.footer__right {
    width: 25%;

    @include mq('sp') {
        width: 100%;
        margin-top: 30px;
    }
}

.footer__terms {

}

.footer__term {
    position: relative;

    a {
        font-size: 20px;

        @include mq('sp') {
            font-size: 1.375rem;
            font-weight: bold;
            margin-left: 25px;
        }

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 50%;
            left: -20px;
            top: 10px;

            @include mq('sp') {
                width: 15px;
                height: 15px;
                top: 10px;
                margin-left: 18px;
            }
        }
    }
}

.none {
    display: none;

    @include mq('sp') {
        display: block;
        text-align: center;
        margin: 70px 0 0;
    }
}

.copy-right {
    font-size: 18px;
    color: rgb(155, 155, 155);
    text-align: center;
}

.page__up {
    position: absolute;
    right: 10px;
    bottom: 10px;

    @include mq('sp') {
        bottom: 150px;
    }
}

.page__up-btn {
    position: relative;
    width: 105px;
    height: 105px;
    background: #BEEDE8;
    opacity: 0.8;

    @include mq('sp') {
        width: 90px;
        height: 90px;
    }

    &::after {
        content: '';
        width: 30px;
        height: 30px;
        border: 0;
        border-top: solid 5px #fff;
        border-left: solid 5px #fff;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 35%;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);
    }
}

/*----------------------------------------------------------------------------------
個人情報保護方針
----------------------------------------------------------------------------------*/
.protection {
    padding: 110px 0 60px;

    @include mq('sp') {
        padding: 0 0 30px;
    }
}

.protection__inner {
    width: 800px;
    margin: 0 auto;

    @include mq('sp') {
        width: 80%;
    }
}

.protection__title {
    font-size: 2.4375rem;
    font-weight: bold;
    text-align: center;
    color: $color-main;
    margin: 50px 0 30px;

    @include mq('sp') {
        font-size: 2rem;
    }
}

.protection__contents {

}

.protection__excerpt {
    text-align: justify;
    padding: 30px 0;
    font-size: 18px;
    font-weight: bold;
    color: $color-text;
}

.protection__item {

}

.protection__item-head {
    background: #CDCDCD;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    padding: 5px 0;
    font-size: 1.3125rem;

    @include mq('sp') {
        font-size: 1.2rem;
    }
}

.protection__item-excerpt {
    text-align: justify;
    padding: 30px 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-text;

    @include mq('sp') {
        padding: 15px 0;
        font-size: 1rem;
    }
}

/*----------------------------------------------------------------------------------
特定商取引
----------------------------------------------------------------------------------*/
.law {
    padding: 110px 0;
 
    @include mq('sp') {
        padding: 0 0 30px;
    }
}

.law__inner {
    width: 800px;
    margin: 0 auto;

    @include mq('sp') {
        width: 80%;
    }
}

.law__title {
    font-size: 2.4375rem;
    font-weight: bold;
    text-align: center;
    color: $color-main;
    margin: 50px 0;

    @include mq('sp') {
        font-size: 2rem;
        margin: 40px 0 20px;
    }
}

.law__contents {
}

.law__item {

}

.law__item-head {
    background: #CDCDCD;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    padding: 5px 0;
    font-size: 1.3125rem;

    @include mq('sp') {
        font-size: 1.2rem;
    }
}

.law__item-excerpt {
    text-align: justify;
    padding: 30px 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-text;
    text-align: center;

    @include mq('sp') {
        padding: 15px 0;
        font-size: 1rem;
    }
}

.justify {
    text-align: left;
}

/*----------------------------------------------------------------------------------
利用規約
----------------------------------------------------------------------------------*/
.terms {
    padding: 110px 0;

    @include mq('sp') {
        padding: 0 0 30px;
    }
}

.terms__inner {
    width: 800px;
    margin: 0 auto;

    @include mq('sp') {
        width: 80%;
    }
}

.terms__title {
    font-size: 2.4375rem;
    font-weight: bold;
    text-align: center;
    color: $color-main;
    margin: 50px 0;

    @include mq('sp') {
        margin: 40px 0 20px;
        font-size: 2rem;
    }
}

.terms__contents {
}

.terms__item {

}

.terms__item-head {
    background: #CDCDCD;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    padding: 5px 0;
    font-size: 1.3125rem;

    @include mq('sp') {
        font-size: 1.2rem;
    }
}

.terms__item-excerpt {
    text-align: justify;
    padding: 30px 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-text;

    @include mq('sp') {
        padding: 15px 0;
        font-size: 1rem;
    }
}

.red {
    color: red;
}

.blue {
    color: blue;
}
