$color-main: #1F2C5C;
$color-accent: #50CCC8;
$color-text: #4D4D4D;
$layout-width-inner: 1100px;


//ブレークポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
) !default;

//メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: "源柔ゴシック", "GenJyuuGothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 21px;
    line-height: 1.6;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------------------------------
共通クラス一覧
----------------------------------------------------------------------------------*/
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    a {

    }
}

.title {
    color: $color-main;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 12px solid #BEEDE8;
    width: 630px;
    margin: 0 auto;
    text-align: center;

    font-size: 3.5vw;
}


/*----------------------------------------------------------------------------------
header
----------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 100;
    background: #fff;
    line-height: 110px;
}

.header__inner {
    width: 90%;
    margin: 0 auto;
}

.header__contents {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;

    img {
        display: block;
    }
}

.header__nav {
    display: flex;
    margin-left: auto;
}

.header__list {
    margin-right: 20px;
    align-items: center;

    a {
        display: inline-block;
        font-size: 22px;
        font-weight: bold;
        color: $color-main;
    }

    // .fa-caret-right {
    //     color: $color-main;
    //     margin-right: 5px;
    // }
}


.header__btn {
    align-items: center;


    .btn {
        color: #fff;
        font-weight: bold;
        padding: 15px 15px;
        border-radius: 10px;
        background: $color-main;
        font-size: 22px;
    }
}

/*----------------------------------------------------------------------------------
main
----------------------------------------------------------------------------------*/
.main {
    padding-top: 110px;
}

.main__visual {
    background: #BEEDE8;
}

.main__inner {
    
}

.main__contents {
    display: flex;
    margin: 0 auto;
    
    
    justify-content: space-between;
    padding: 50px 10px;
}

.main__left {
    width: 55%;

    img {
        display: block;
        width: 100%;
    }
}

.main__right {
    width: 43%;

    img {
        display: block;
        width: 100%;    
        margin-top: 50px;    
    }
}

.main__titles {
    text-align: center;
    padding: 50px 0 30px;
}

.main__title {
    color: $color-main;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.main__text {
    margin-top: 30px;
    font-weight: Medium;
    color: $color-text;
}

/*----------------------------------------------------------------------------------
try-button
----------------------------------------------------------------------------------*/
.try-button {
    text-align: center;
    padding: 30px 0 80px;

    a {
        display: inline-block;

        img {
            display: block;
        }
    }
}

/*----------------------------------------------------------------------------------
functions
----------------------------------------------------------------------------------*/
.functions {
    position: relative;
    background: #CDCDCD;
    padding: 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 80px solid #FFE33F;
        border-right: 80px solid transparent;
        opacity: 0.5;
    }
}

.functions__inner {

}

.functions__title {
    
}

.functions__items {
    padding: 0 80px;
}

.functions__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    margin-top: 50px;
}

.functions__left {
    width: 60%;
}   

.functions__left-text {
    color: $color-main;
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
}

.functions__left-excerpt {
    margin-top: 20px;
    font-weight: Medium;
    color: $color-text;
}

.functions__image {
    
    img {
        display: block;
    }
}

.functions__number {
    position: absolute;
    z-index: -1;
    top: -20px;
    

    img {
        display: block;
    }
}

/*----------------------------------------------------------------------------------
merit
----------------------------------------------------------------------------------*/
.merit {
    padding: 50px;
}

.merit__inner {

}

.merit__title {

}

.merit__items {
    padding: 0 30px;
}

.merit__item {
    display: flex;
    margin-top: 50px;
}

.merit__item-left {
    
    img {
        display: block;
    }
}

.merit__item-right {
    width: 64%;
    margin-left: auto;
}

.merit__item-image {
    margin-bottom: 30px;
    img {
        display: block;
    }
}

.merit__item-excerpts {
    display: flex;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.merit__item-checkbox {
    width: 50px;
    margin-right: 10px;

    img {
        display: block;
        width: 50px;
        height: 50px;  
    }
}

.merit__item-excerpt {
    width: calc(100% - 40px - 10px);
    font-size: 31px;
    color: $color-main;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------
price
----------------------------------------------------------------------------------*/
.price {
    background: #fafcce;
    position: relative;
    padding: 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 80px solid #FFE33F;
        border-right: 80px solid transparent;
        opacity: 0.5;
    }
}

.price__inner {

}

.price__title {
    color: $color-main;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 12px solid #FFE33F;
    width: 630px;
    margin: 0 auto;
    text-align: center;
}

.price__contents {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.price__left {
    width: 55%;
    display: flex;
}

.price__left-left {
    width: 25%;
    color: #fff;
    background: $color-text;
    padding: 40px 10px;
    text-align: center;
    border-radius: 30px 0 0 30px;
    font-weight: bold;
    font-size: 46px;
}

.price__left-prices {
    width: calc(100% - 25%);
    background: #fff;
    border-radius: 0 30px 30px 0;
    color: $color-text;
    justify-content: center;

}

.price__left-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    padding: 10px 0;
}

.price__left-price {
    font-size: 86px;
    font-weight: bold;
}

.price__left-pricetax {
    text-align: center;
}

.price__left-tax {
    font-weight: bold;
}

.price__left-en {
    font-size: 48px;
    font-weight: bold;
}

.price__right {
    width: 43%;
}

.price__right-tags {    
    display: flex;
    justify-content: space-between;
}

.price__tag-left {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background: $color-text;
    padding: 5px 20px;
}

.price__tag-right {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background: $color-text;
    padding: 5px 50px;
    letter-spacing: 5px;
}

.price__right-excerpt {
    font-weight: bold;
    color: $color-text;
    margin-top: 10px;
    text-align: justify;
}

.price__service {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0 30px;
}

.price__underbar {
    width: 60px;
    height: 60px;
    background: #F15A24;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;

    img {
        display: block;
    }
}

.price__underbar-title {
    font-size: 37px;
    font-weight: bold;
    color: #F15A24;
}

.price-button {
    text-align: center;
    a {
        display: inline-block;

        img {
            display: block;
            width: 700px;
        }
    }
}

/*----------------------------------------------------------------------------------
flow
----------------------------------------------------------------------------------*/
.flow {
    background: #CDCDCD;
    padding: 50px;
}

.flow__inner {

}

.flow__title {

}

.flow__contents {
    margin-top: 50px;
}

.flow__item {

}

.flow__item-title {
    background: $color-main;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 28px;
}

.second {
    background: #FFE33F;
    color: $color-text;
    font-weight: bold;
}

.flow__item-flow {
    display: flex;
    justify-content: space-between;
}

.flow__item-image {
    width: 23%;
    margin: 20px 0;

    img {
        display: block;
        width: 100%;
    }

    p {
        text-align: center;
        font-size: 20px;
        color: $color-main;
        font-weight: bold;
        margin-top: 10px;
    }
}

/*----------------------------------------------------------------------------------
remind
----------------------------------------------------------------------------------*/
.remind {
    padding: 50px 0;
}

.remind__inner {

}

.remind__title {
    color: $color-main;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.remind__contents {
    
}

.remind__images {
    display: flex;
    justify-content: center;
}

.remind__image-left {
    margin-right: 15px;
    img {
        display: block;
    }
}

.remind__image-right {
    img {
        display: block;
    }
}

.remind__excerpts {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-weight: Medium;
    font-size: 19px;
}

.remind__excerpt {
    margin-top: 30px; 
}

/*----------------------------------------------------------------------------------
question
----------------------------------------------------------------------------------*/
.question {
    background: #d9ffdf;
    position: relative;
    padding: 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 80px solid $color-main;
        border-right: 80px solid transparent;
    }
}

.question__inner {

}

.question__title {

}

.question__items {
    margin-top: 50px;
}

.question__item {
    margin: 20px 0;
}

.question__item-question {
    display: flex;
    color: $color-main;
    align-items: center;
}

.question__number {
    font-size: 36px;
    font-weight: bold;
    width: 60px;
}

.question__content {
    width: calc(100% - 50px - 20px);
    font-size: 26px;
    font-weight: bold;
    position: relative;

    &::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 0;
        border-bottom: solid 3px #fff;
        border-right: solid 3px #fff;
        position: absolute;
        top: 20px;
        right: 10px;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);

        // top: 25px;
        // right: 10px;
        // transition: transform 0.3s;
        // margin-top: -6px;
        // transform: rotate(225deg);
    }

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: #333;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 0;
        margin-top: -9px;
    }
    

}

.question__item-answer {
    background: #fff;
    color: #F15A24;
    font-weight: bold;
    font-size: 26px;
    margin: 10px calc(50% - 50vw) 0;
	width: 100vw;
    padding: 20px 260px;
    text-align: left;
    // display: none;
}

/*----------------------------------------------------------------------------------
footer
----------------------------------------------------------------------------------*/
.footer {
    background: $color-main;
    padding-bottom: 100px;
    position: relative;
}

.footer__inner {

}

.footer__contens {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer__logo {
    width: 35%;
}

.footer__nav {
    width: 40%;
    margin-right: 20px;
}

.footer__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__list {
    width: 48%;
    margin-bottom: 10px;
    a {
        display: inline-block;
        font-size: 20px;
    }

    i {
        margin-right: 5px;
    }
}

.footer__right {
    width: 25%;
}

.footer__terms {

}

.footer__term {
    position: relative;

    a {
        font-size: 20px;

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 50%;
            left: -20px;
            top: 10px;
        }
    }
}

.copy-right {
    font-size: 18px;
    color: rgb(155, 155, 155);
    text-align: center;
}

.page__up {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.page__up-btn {
    position: relative;
    width: 105px;
    height: 105px;
    background: #BEEDE8;
    opacity: 0.8;

    &::after {
        content: '';
        width: 30px;
        height: 30px;
        border: 0;
        border-top: solid 5px #fff;
        border-left: solid 5px #fff;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 35%;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);
    }
}