$color-main: #1F2C5C;
$color-accent: #50CCC8;
$color-text: #4D4D4D;
$layout-width-inner: 1100px;


//ブレークポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    // "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: 768px) and (max-width: #{$layout-width-inner})",
    // "pc": "(min-width: #{$layout-width-inner})",
) !default;

//メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height : 1.5;

    @include mq('sp') {
        font-size: 3.4vw;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: "源柔ゴシック", "GenJyuuGothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    line-height: 1.6;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: 1.375rem;
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------------------------------
共通クラス一覧
----------------------------------------------------------------------------------*/
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    a {

    }
}

.title {
    color: $color-main;
    font-weight: bold;
    border-bottom: 12px solid #BEEDE8;
    width: 630px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
}


/*----------------------------------------------------------------------------------
header
----------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 100;
    background: #fff;
    line-height: 110px;
}

.header__inner {
    width: 90%;
    margin: 0 auto;
}

.header__contents {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;

    img {
        display: block;
    }
}

.header__nav {
    display: flex;
    margin-left: auto;
}

.header__list {
    margin-right: 20px;
    align-items: center;

    a {
        display: inline-block;
        font-size: 1.375rem;
        font-weight: bold;
        color: $color-main;
    }

    // .fa-caret-right {
    //     color: $color-main;
    //     margin-right: 5px;
    // }
}


.header__btn {
    align-items: center;


    .btn {
        color: #fff;
        font-weight: bold;
        padding: 15px 15px;
        border-radius: 10px;
        background: $color-main;
        font-size: 1.375rem;
    }
}

/*---------------------------------------------------------------
bars-items
----------------------------------------------------------------*/
.bars-items {
    display: none;
    z-index: 400;

    @include mq('sp') {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        background: $color-main;
        width: 90px;
        height: 90px;

        &:hover {
            cursor: pointer;
        }
    }
}

.is-fixed {
    position: fixed;
    top: 0;
    right: 0;
}

.bars {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-1,
.bar-2,
.bar-3 {
    position: absolute;
    width: 50px;
    height: 1px;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
}

.bar-1 {
    top: 0px;
    transition: 1s;
    transform: rotate(0deg);
}

.is-active-1 {
    transition: 1s;
    transform: rotate(45deg);
    top: 20px;
}

.bar-2 {
    top: 20px;
    transition: 1s;
}

.is-active-2 {
    display: none;
}

.bar-3 {
    top: 40px;
    transition: 1s;
    transform: rotate(0deg);
}

.is-active-3 {
    transition: 1s;
    transform: rotate(-45deg);
    top: 20px;
}

/*----------------------------------------------------------------------------------
特定商取引
----------------------------------------------------------------------------------*/
.law {
    padding: 110px 0;
}

.law__inner {
    width: 800px;
    margin: 0 auto;
}

.law__title {
    font-size: 39px;
    font-weight: bold;
    text-align: center;
    color: $color-main;
    margin: 50px 0;
}

.law__contents {
}

.law__item {

}

.law__item-head {
    background: #CDCDCD;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    padding: 5px 0;
}

.law__item-excerpt {
    text-align: justify;
    padding: 30px 0;
    font-size: 18px;
    font-weight: bold;
    color: $color-text;
    text-align: center;
}

.justify {
    text-align: left;
}

/*----------------------------------------------------------------------------------
footer
----------------------------------------------------------------------------------*/
.footer {
    background: $color-main;
    padding-bottom: 100px;
    position: relative;
}

.footer__inner {

}

.footer__contens {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer__logo {
    width: 35%;
}

.footer__nav {
    width: 40%;
    margin-right: 20px;
}

.footer__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__list {
    width: 48%;
    margin-bottom: 10px;
    a {
        display: inline-block;
        font-size: 20px;
    }

    i {
        margin-right: 5px;
    }
}

.footer__right {
    width: 25%;
}

.footer__terms {

}

.footer__term {
    position: relative;

    a {
        font-size: 20px;

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 50%;
            left: -20px;
            top: 10px;
        }
    }
}

.copy-right {
    font-size: 18px;
    color: rgb(155, 155, 155);
    text-align: center;
}

.page__up {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.page__up-btn {
    position: relative;
    width: 105px;
    height: 105px;
    background: #BEEDE8;
    opacity: 0.8;

    &::after {
        content: '';
        width: 30px;
        height: 30px;
        border: 0;
        border-top: solid 5px #fff;
        border-left: solid 5px #fff;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 35%;
        transition: transform 0.3s;
        margin-top: -6px;
        transform: rotate(45deg);
    }
}
